
.text-center {
  text-align: left;
}

.justify {
text-align: justify;
}

.backgroundcolor {
  background-color: rgb(156, 156, 156);
}

.linkcolor {
  color:black;
}

.paddinggeneral {
  padding-left: 90px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.paddingquote{
  padding-left: 90px;
  padding-top: 50px;
}

.fit-image{
  width: 100%;
  object-fit: cover;
  height: 300px; 
  }
  